

body {

	background: pink;
	font-family: arial;
	font-size: 20;


}

.box {

	background:white;
	padding: 50px;
	margin: 100px;
	box-shadow:0 1px 3px #888888;

}

.link {
		color:red;
	}


.link:hover {
		color:blue;
	}